@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--bg: hsl(0, 0%, 100%);
	--fg: hsl(0, 0%, 10%);
	--fg-muted: hsl(0, 0%, 40%);
}

body {
	@apply text-foreground bg-background;
}
